<template>
  <div
    class="
      fixed
      inset-x-0
      bottom-0
      z-10
      flex
      justify-center
      py-5
      w-100
      bg-white
      rounded-t-xl
      shadow-t-md
      border-t border-sand
    "
  >
    <button
      class="py-3 px-16 bg-gradient-to-r from-mint to-sky rounded-xl text-white"
    >
      Kostenlos Registrieren
    </button>
  </div>
</template>