<template>
  <div class="bg-gradient-to-r from-lightblue to-lighterblue mt-16">
    <h1 class="text-darkgrey text-5xl text-center p-10">Deine Job website</h1>
    <img
      class="transform scale-110"
      src="~/assets/undraw_agreement_aajr.svg"
      alt="undraw_agreement_aajr"
    />
    <img
      class="w-100 block bg-transparent"
      src="~/assets/wave.svg"
      alt="wave"
    />
  </div>
</template>