<template>
  <nav class="fixed z-10 w-screen bg-white rounded-b-xl shadow-b-md">
    <div class="h-1 bg-gradient-to-r from-mint to-sky"></div>
    <div class="relative bg-red flex justify-end h-16 px-5">
      <div class="absolute inset-y-0 flex items-center">
        <a class="text-mint" href="#">Login</a>
      </div>
    </div>
  </nav>
</template>