<template>
  <div
    :class="`relative w-screen flex justify-center duration-700 transform pt-4
    ${
      activeTabIndex === 0
        ? 'translate-x-2/4'
        : activeTabIndex === 2
        ? '-translate-x-2/4'
        : ''
    }`"
    role="group"
  >
    <button
      :class="`${
        activeTabIndex === 0
          ? 'bg-lightmint text-white border-lightmint'
          : 'bg-white text-lightmint border-lightergrey'
      } border-2 border-r-0 rounded-l-2xl px-12 mx-0 outline-none font-bold`"
      @click="$emit('update:activeTabIndex', 0)"
    >
      Arbeitnehmer
    </button>
    <button
      :class="`${
        activeTabIndex === 1
          ? 'bg-lightmint text-white border-lightmint'
          : 'bg-white text-lightmint border-lightergrey'
      } border-2 mx-0 px-12 py-2 outline-none font-bold`"
      @click="$emit('update:activeTabIndex', 1)"
    >
      Arbeitgeber
    </button>
    <button
      :class="`${
        activeTabIndex === 2
          ? 'bg-lightmint text-white border-lightmint'
          : 'bg-white text-lightmint border-lightergrey'
      } border-2 border-l-0 rounded-r-2xl px-12 py-2 mx-0 outline-none font-bold`"
      @click="$emit('update:activeTabIndex', 2)"
    >
      Temporärbüro
    </button>
  </div>
</template>

<script>
export default {
  props: ["activeTabIndex"],
};
</script>
