<template>
  <div class="mb-60">
    <h3 class="mt-5 text-center text-darkertext text-xl">
      {{ tabs[activeTabIndex].title }}
    </h3>
    <div class="relative h-64">
      <img
        class="absolute mb-12 right-0 w-3/4"
        :src="tabs[activeTabIndex].art1"
        :alt="tabs[activeTabIndex].art1"
      />
      <div class="absolute bottom-0">
        <span class="text-darktext text-9xl ml-4">1.</span>
        <span class="text-darktext">{{ tabs[activeTabIndex].text1 }}</span>
      </div>
    </div>
    <img class="" src="~/assets/waveblue.svg" alt="wave" />
    <div class="relative h-64 bg-lightblue">
      <div>
        <span class="text-darktext text-9xl ml-4">2.</span>
        <span class="text-darktext">{{ tabs[activeTabIndex].text2 }}</span>
      </div>
      <img
        class="m-auto right-0 w-1/2 mt-1"
        :src="tabs[activeTabIndex].art2"
        :alt="tabs[activeTabIndex].art2"
      />
    </div>
    <img class="transform rotate-180" src="~/assets/waveblue.svg" alt="wave" />
    <div class="relative h-64 bg-white">
      <div>
        <span class="text-darktext text-9xl ml-4">3.</span>
        <div
          class="
            text-darktext
            inline-block
            h-16
            max-w-14
            text-center
            align-bottom
          "
        >
          {{ tabs[activeTabIndex].text3 }}
        </div>
      </div>
      <img
        class="m-auto right-0 w-4/3 mt-1"
        :src="tabs[activeTabIndex].art3"
        :alt="tabs[activeTabIndex].art3"
      />
    </div>
  </div>
</template>
<script>
export default {
  props: ["activeTabIndex"],
  data() {
    return {
      tabs: {
        0: {
          title: "Drei einfache Schritte zu deinem neuen Job",
          text1: "Erstellen dein Lebenslauf",
          text2: "Erstellen dein Lebenslauf",
          text3: "Mit nur einem Klick bewerben",
          art1: require("/assets/undraw_Profile_data_re_v81r.svg"),
          art2: require("/assets/undraw_task_31wc.svg"),
          art3: require("/assets/undraw_personal_file_222m.svg"),
        },
        1: {
          title: "Drei einfache Schritte zu deinem neuen Mitarbeiter",
          text1: "Erstellen dein Lebenslauf",
          text2: "Erstellen dein Lebenslauf",
          text3: "Wähle deinen neuen Mitarbeiter aus",
          art1: require("/assets/undraw_Profile_data_re_v81r.svg"),
          art2: require("/assets/undraw_about_me_wa29.svg"),
          art3: require("/assets/undraw_swipe_profiles1_i6mr.svg"),
        },
        2: {
          title: "Drei einfache Schritte zur Vermittlung neuer Mitarbeiter",
          text1: "Erstellen dein Lorem ipsum",
          text2: "Erstellen dein Lebenslauf",
          text3: "Vermittlung nach Provision oder Stundenlohn",
          art1: require("/assets/undraw_Profile_data_re_v81r.svg"),
          art2: require("/assets/undraw_job_offers_kw5d.svg"),
          art3: require("/assets/undraw_business_deal_cpi9.svg"),
        },
      },
    };
  },
};
</script>