<template>
  <div class="overflow-x-hidden">
    <HeroSection />
    <TabSelector :activeTabIndex.sync="activeTabIndex" />
    <TabView :activeTabIndex.sync="activeTabIndex" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      activeTabIndex: 0,
    };
  },
};
</script>
